---
import { cn } from '@/lib/utils';

interface Props {
  class?: string;
  [key: string]: any;
}

const { class: className, ...rest } = Astro.props;
---

<div
  data-slot="card-header"
  class={cn(
    'grid auto-rows-min grid-rows-[auto_auto] items-start gap-1.5 px-6 has-data-[slot=card-action]:grid-cols-[1fr_auto] [.border-b]:pb-6 w-full overflow-hidden',
    className,
  )}
  {...rest}
>
  <slot />
</div>
